name: Metrics
on:
  # Schedule updates (each hour)
  schedule: [{cron: "0 * * * *"}]
  # Lines below let you run workflow manually and on each commit
  workflow_dispatch:
  push: {branches: ["master", "main"]}
jobs:
  github-metrics:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: lowlighter/metrics@latest
        with:
          # Current configuration doesn't require a GitHub token
          token: NOT_NEEDED

          # Options
          user: k5924
          template: classic
          base: ""
          config_display: large
          config_timezone: Europe/London
          plugin_anilist: yes
          plugin_anilist_limit: 2
          plugin_anilist_medias: anime, manga
          plugin_anilist_sections: watching, reading
          plugin_anilist_user: tr1x
          plugin_wakatime: yes
          plugin_wakatime_sections: time, languages, languages-graphs, editors, os
          plugin_wakatime_token: ${{ secrets.WAKATIME_API_KEY }}
          plugin_rss: yes
          plugin_rss_limit: 4
          plugin_rss_source: https://www.youtube.com/feeds/videos.xml?channel_id=UCXjW11EBQXd5Ts8oQ-gT7Wg
          plugin_stackoverflow: yes
          plugin_stackoverflow_limit: 2
          plugin_stackoverflow_lines: 4
          plugin_stackoverflow_lines_snippet: 2
          plugin_stackoverflow_sections: answers-top, questions-recent
          plugin_stackoverflow_user: 19610549
          plugin_music_token: ${{ secrets.YOUTUBE_MUSIC_TOKENS }}
          plugin_music: yes
          plugin_music_mode: recent
          plugin_music_provider: youtube
          plugin_posts: yes
          plugin_posts_limit: 4
          plugin_posts_source: hashnode
          plugin_posts_user: tr1x
          plugin_posts_descriptions: yes
          plugin_posts_covers: yes
